@charset "UTF-8";
body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        header {
            margin-bottom: auto;
        }

        .main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center; 
            min-height: 100%;
            margin-left:200px;	
            margin-right:200px;
        }
    .card {
   display: flex;
            flex-direction: column;
            padding: 20px;
            width: calc(33.33% - 20px);
            margin: 10px;
            box-sizing: border-box;
}
.log{
	border: 1px solid green;
	margin-left: 10px;
	border-radius:0.1rem ;
	
}